# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.xml
*.iml
*.obj
.idea
/images/
/__pycache__/
*.png
*.usd
*.stl
*.npz
*.mtl
*.gif
*.pt
*.pth