# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
#*.xml
#*.iml
#*.obj
.idea
/images/
*/__pycache__/
/__pycache__/

#*.pyc
#*.png
#*.usd
#*.stl
#*.npz
#*.mtl
#*.json
#*.ply
#*.gif
#*.pt
#*.pth
#*.ini
#/*.jpg
#/*.exr
sdfpred_utils/vis/
*/*.npy
data/*
logs/*
models_resources/*
outputs/*
Resources/*
/*.npz
/*json
/*.ini
utils/*.ini
old/*.ini
/mesh/*.ply